<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.playground.notification"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/application_name"
        android:theme="@style/AppTheme"
        tools:replace="android:label">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key" />

        <provider
            android:name=".app.SearchSuggestionProvider"
            android:authorities="@string/suggestion_auth"
            android:exported="false" />

        <activity
            android:name=".app.activities.MapsActivity"
            android:label="@string/title_activity_maps"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".activities.MapsActivity" />
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <activity
            android:name=".app.activities.ConnectGoogleActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FirstPage" />

        <activity
            android:name=".app.activities.ViewPagerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/PagerTheme" />

        <activity
            android:name=".app.activities.SettingsActivity"
            android:label="@string/action_settings"
            android:screenOrientation="portrait"
            android:theme="@style/SettingsTheme" />

        <activity
            android:name=".app.activities.MyLocationListActivity"
            android:label="@string/lbl_my_location_list"
            android:screenOrientation="portrait" />


        <!--Include the AdActivity configChanges and theme. --><activity
        android:name="com.google.android.gms.ads.AdActivity"
        android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
        android:screenOrientation="portrait"
        android:theme="@android:style/Theme.Translucent" />

        <service
            android:name=".geofence.GeofenceManagerService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".geofence.GeofenceTransitionsIntentService"
            android:enabled="true"
            android:exported="false" />

        <!--Event handler for changing system packages.-->
        <receiver
            android:name="com.chopping.application.InstalledAppReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="0bf5835ac1569fe382ff64839c0be3d3ed9396b9" />


        <service
            android:name=".app.AppGuardService"
            android:enabled="true"
            android:exported="false" >
        </service>
        <receiver
            android:name=".app.BootReceiver"
            android:enabled="true" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
